.main{
    display: flex;
    justify-content: center;
}

.dFundo{
    background: linear-gradient(to left, #5EECF5, #024751);
    width: 900px;
    height: 900px;
    transform: rotate(-110deg);
    border-radius: 130px;
    display: flex;
    justify-content: center;
    margin-top: 40%;
    padding: 4%;
}  
.section{
    transform: rotate(110deg);
}
.dVoltar{
    margin-top: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label{
    font-size: 25px;
    text-align: center;
}

.botao {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.botao:hover {
    background-color: #0056b3;
}

@media (max-width: 1200px) {
    .dFundo {
        width: 700px;
        height: 700px;
    }

    .label {
        font-size: 20px;
    }

    .botao {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .dFundo {
        width: 500px;
        height: 500px;
    }


    .label {
        font-size: 18px;
    }

    .botao {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .dFundo {
        width: 300px;
        height: 300px;
    }

    .label {
        font-size: 16px;
    }

    .botao {
        font-size: 10px;
    }
}